:root {
  --title-color: #232536;
  --text-color: #6d6e76;
  --subtitle-color: #592ea9;
}

.container {
  outline: solid red;
  width: 1312px;
  padding: 0px 16px;
  margin-right: auto;
  margin-left: auto;
}

/* Скинемо вбудовані стилі */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  /* background-color: transparent; */
}

/* Задамо стилі згідно макету */

body {
  font-family: "Inter", sans-serif;
  color: var(--title-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}

.posts-subtitle {
  font-family: Sen;
}

.header {
  padding-top: 12px;
  padding-bottom: 12px;
  background: #232536;
}

.header-container {
  display: flex;
}

.header-navigation {
  margin-left: auto;
}

.header-list {
  display: flex;
  gap: 24px;
}

.header-page {
  color: #fff;
  font-weight: 400;
}

.header-button {
  font-family: Sen;
  font-size: 18px;
  line-height: 24px;
  margin-left: 32px;
}

.featured {
  background: var(--Lavender, #f4f0f8);
  padding-top: 80px;
  padding-bottom: 80px;
}

.featured-container {
  display: flex;
  gap: 141px;
}

.featured-title {
  margin-top: 20px;
  margin-bottom: 16px;
}

.featured-subtitle {
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.featured-title {
  font-family: Sen;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
}

.featured-text {
  color: #4c4c4c;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 16px;
}

.featured-name {
  color: var(--subtitle-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.featured-info {
  color: var(--text-color);
  font-weight: 400;
}

.featured-button {
  font-family: Sen;
  font-size: 18px;
  line-height: 24px;
  margin-top: 32px;
  padding: 16px 48px;
  display: inline-flex;
  padding: 16px 48px;
  align-items: flex-start;
  gap: 12px;
  background: var(--Yellow, #ffd050);
}

.posts {
  padding-top: 73px;
  padding-bottom: 67px;
}

.posts-title {
  font-family: Sen;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -2px;
  margin-bottom: 93px;
}

.posts-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 64px;
}

.posts-item {
  
  display: flex;
  gap: 32px;
}

.posts-box {
}

.posts-text {
  color: var(--subtitle-color);
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.posts-subtitle {
  font-family: Sen;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  margin-bottom: 16px;
}

.posts-info {
  color: var(--text-color);
  font-weight: 400;
}

.posts-prev {
  color: var(--text-color);
  text-align: center;
  font-family: Sen;
  font-size: 24px;
  line-height: 32px;
}

.posts-next {
  text-align: center;
  font-family: Sen;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;
}

.button-posts {
  display: flex;
  justify-content: center;
  padding-top: 64px;
  gap: 17px;
}

.categories {
  padding-bottom: 128px;
}

.categories-title {
  font-family: Sen;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
}

.categories-list {
  display: flex;
  gap: 32px;
  ;
}

.categories-div {
  border: solid;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 3px;
  background-color: #fbf6ea;
}

.categories-subtitle {
  font-family: Sen;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;
  padding-top: 16px;
}

.categories-text {
  color: var(--text-color);
  font-weight: 400;
  padding-top: 4px;
}

.join {
  padding-bottom: 120px;
}

.join-article {
  max-width: 414px;
  margin-left: auto;
  margin-right: auto;
}

.join-title {
  display: flex;
  text-align: center;
  font-family: Sen;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  max-width: 414px;
  justify-content: center;
}

.join-text {
  color: var(--text-color);
  text-align: center;
  font-weight: 400;
  padding-bottom: 32px;
  padding-top: 16px;
}

.join-button {
  font-family: Sen;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 48px;
  align-items: flex-start;
  gap: 12px;
  background-color: #ffd050;
}

.footer {
  margin-left: auto;
  margin-right: auto;

  background: #232536;
  padding-top: 59px;
  padding-bottom: 56px;
  display: flex;


}

.footer-div {
  display: flex;
  padding-bottom: 54px;
}

.footer-div2 {
  display: flex;
  background-color: rgb(255, 255, 255, 0.5);
  padding-right: 64px;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 24px;
  
  
}

.footer-logo {
  padding-right: 703px;
  display: flex;
}
.footer-list {
  display: flex;
  gap: 24px;
}

.footer-page {
  color: #fff;
  font-weight: 400;
}

.footer-title {
  color: #fff;
  font-family: Sen;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  padding: 80px 64px 80px 64px;
}

.footer-input {
  border: solid rgb(76, 76, 76, 0.5);
  width: 323px;
  height: 56px;
  flex-shrink: 0;
 
}
.footer-text {
  padding-top: 48px;

}

.footer-button {
  font-family: Sen;
  font-size: 18px;
  line-height: 24px;

  align-items: center;
  display: inline-flex;
  padding: 16px 48px;
  align-items: flex-start;
  gap: 12px;
  background-color: #ffd050;
}

.footer-info {
  color: #fff;
  font-weight: 400;
}

.footer-socials {
  display: flex;
  gap: 26.67px;
  padding-top: 60px;
  padding-left: 775px;
}

.footer-solid {
  display: flex;
}
