:root {
  --aczent-color: #232536;
  --btn: #ffd050;
  --text-color: #6d6e76;
  --adishinal-text: #fff;
  --link-color: #592ea9;
}
.body {
  font-family: Inter;
}
.container {
  max-width: 1312px;
  width: 100%;
  outline: solid red;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.box {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  align-items: center;
}
.btn {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  background: var(--btn, #ffd050);
}
.header-logo {
  margin-right: auto;
}
.header-section {
  background-color: var(--aczent-color);
}

.header-link {
  color: var(--adishinal-text, #fff);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.header-list {
  display: flex;
  gap: 24px;
  margin-right: 32px;
  outline: solid green;
  align-items: center;
}
.header-button {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 48px;
  padding-left: 48px;
  background-color: var(--adishinal-text);
}
.startup-section {
  background-color: var(--adishinal-text);
  background-image: url(./image/sturtup.png);
  padding-bottom: 192px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 128px;
}
.startup-subtitle {
  color: var(--adishinal-text, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.startup-title {
  width: 803px;
}
.startup-span {
  color: var(--adishinal-text, #fff);
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.startup-name {
  color: var(--btn, #ffd050);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.startup-title {
  color: var(--adishinal-text, #fff);
  font-family: Sen;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  margin-bottom: 24px;
}
.startup-text {
  color: var(--adishinal-text, #fff);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 16px;
}
.startup-subtext {
  color: var(--adishinal-text);
  max-width: 599px;
  margin-bottom: 48px;
}
.startup-button {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 48px;
  padding-left: 48px;
}
.post-section {
  padding-top: 128px;
  padding-bottom: 128px;
}
.post-container {
  display: flex;
  gap: 32px;
}

.post-subbox {
  max-width: 733px;
}
.post-subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.post-info {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  margin-bottom: 16px;
}
.post-information {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid rgba(109, 110, 118, 0.1);
  margin-top: 32px;
}

.post-title {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}
.post-photo {
  margin-bottom: 32px;
}
.post-subtitle {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.post-item {
  max-width: 517px;
  padding-top: 32px;
  padding-bottom: 25px;
  padding-left: 32px;
  padding-right: 32px;
}
.post-item:hover {
  background-color: #fbf6ea;
}
.post-date {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 16px;
}
.post-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.post-button {
  margin-top: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 48px;
  padding-right: 48px;
}
.info-section {
}
.info-box {
  display: flex;
  gap: 82px;
  padding-top: 96px;
  padding-bottom: 96px;
  padding-left: 108px;
  padding-right: 80px;
  background-color: #f4f0f8;
}
.info-flex {
  display: flex;
  justify-content: flex-end;
}
.info-line {
  height: 23px;
  width: 843px;
  background-color: var(--btn);
}
.info-decor {
  height: 23px;
  width: 282px;
  background-color: var(--link-color);
}
.info-subbox {
}
.info-subcontainer {
}
.info-subtitle {
  color: var(--aczent-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.info-title {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  width: 494px;
  margin-bottom: 16px;
}
.info-creating {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  width: 481px;
  margin-bottom: 16px;
}
.info-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  width: 515px;
  margin-bottom: 16px;
}
.info-subinfo {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.info-link {
  color: var(--link-color);
  font-family: Sen;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}
.plan-section {
  padding-top: 128px;
  padding-bottom: 128px;
}
.plan-box {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.plan-title {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: center;
  margin-bottom: 48px;
}
.plan-span {
  display: flex;
}
.plan-list {
  display: flex;
  gap: 32px;
}
.plan-article {
  border: 1px solid rgba(109, 110, 118, 0.3);
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
}
.plan-article:hover {
  background-color: var(--btn);
}
.plan-subtitle {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  margin-top: 16px;
  margin-bottom: 4px;
}
.plan-photo {
  width: 48px;
  height: 48px;
}
.plan-roket {
  width: 23px;
}
.plan-hade {
  width: 24px;
}
.plan-subphoto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #fbf6ea;
}
.plan-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  max-width: 232px;
}
.started-section {
}
.started-container {
  display: flex;
  justify-content: flex-end;
  background-image: url(./image/started-photo.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 121px;
}
.started-subbox {
  width: 706px;
  background-color: var(--adishinal-text);
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 80px;
  padding-right: 80px;
}
.started-title {
  color: var(--aczent-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.started-subtitle {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  width: 546px;
  margin-bottom: 16px;
}
.started-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 32px;
}
.started-button {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 48px;
  padding-right: 48px;
}
.authors-title {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}
.authors-text {
  color: var(--text-color);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.logo-box {
  display: flex;
}

.logo-text {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.logo-subtext {
  color: var(--text-color);
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-right: 86px;
}
.logo-list {
  display: flex;
  gap: 73px;
}
.article-section {
  background-color: #fbf6ea;
}
.article-box {
  display: flex;
}
.article-article {
  margin-left: 112px;
  margin-right: 180px;
}
.article-subarticle {
  margin-right: 111px;
}
.article-title {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  width: 345px;
}
.article-text {
  width: 349px;
}
.article-subtitle {
  margin-top: 92px;
  margin-bottom: 12px;
}
.article-subtext {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  width: 469px;
  margin-top: 80px;
  margin-bottom: 121px;
}
.article-photo {
  width: 48px;
  height: 48px;
}
.join-box {
  height: 512px;
}
.join-title {
  color: var(--aczent-color);
  text-align: center;
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  padding-top: 128px;
  margin-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
  width: 414px;
}
.join-text {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 24px;
  width: 405px;
  margin-right: auto;
  margin-left: auto;
}
.join-button {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 48px;
  padding-right: 48px;
  margin-right: auto;
  margin-left: auto;
}
.footer-section {
  background-color: var(--aczent-color);
}
.footer-link {
  color: var(--adishinal-text, #fff);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.footer-title {
  color: var(--adishinal-text, #fff);
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}
.footer-address {
  color: var(--adishinal-text, #fff);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

/* blog-html */
.header-section {
}
.header-section {
  display: flex;
}
.logo {
  width: 140px;
  height: 28px;
  margin-left: 83px;
  margin-right: 621px;
}
.header-list {
  margin-left: 32px;
}
.header-item {
  margin-left: 24px;
}
.header-subbutton {
  background: var(--adishinal-text, #fff);
  margin-left: 80px;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.hero-subtitle {
  color: var(--aczent-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.hero-title {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}
.hero-subtext {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.hero-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.hero-button {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.pasts-title {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
}
.pasts-subtitle {
  color: var(--link-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.pasts-title {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}
.pasts-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.pasts-button {
  color: var(--aczent-color);
  text-align: center;
  font-family: Sen;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
}
