:root {
  --aczent-color: #232536;
  --btn: #FFD050;
  --text-color: #6D6E76;
  --adishinal-text: #FFF;
  --link-color: #592EA9 ;
}
.body{
  font-family: Inter;
}
.container{
  max-width: 1312px;
  width: 100%;
  outline: solid red;
  margin-left: auto;
  margin-right: auto;
padding-left: 16px;
padding-right: 16px;
}
.box{
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  align-items: center;
}
.btn {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  background: var(--btn, #ffd050);
}
.header-logo{
  margin-right: auto;
}
.header-section {
  background-color:var(--aczent-color);
}

.header-link {
  color: var(--adishinal-text, #fff);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  
}
.header-list{
  display: flex;
  gap: 24px;
  margin-right: 32px;
  outline: solid green;
  align-items: center;
}
.header-button{
  padding-top:16px;
  padding-bottom:16px ;
  padding-right:48px ;
  padding-left:48px ;
  background-color: var(--adishinal-text);
}
.startup-section {
  background-color: var(--adishinal-text);
  background-image: url();
}
.startup-subtitle {
  color: var(--adishinal-text, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px; 
  letter-spacing: 3px;
  text-transform: uppercase;
}
.startup-span {
  color:  var(--adishinal-text, #fff);
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.startup-name {
  color: var(--btn, #ffd050);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.startup-title {
  color:  var(--adishinal-text, #fff);
  font-family: Sen;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px; 
  letter-spacing: -2px;
}
.startup-text {
  color:  var(--adishinal-text, #fff);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.post-info {
  color:c;
  font-family: Sen;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px; 
  letter-spacing: -1px;
}
.post-title {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px; 
  letter-spacing: -2px;
}
.post-subtitle {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.post-date {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; 
}
.post-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; 
}
.info-subtitle {
  color: var(--aczent-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.info-title {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}
.info-creating {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px; 
  letter-spacing: -1px;
}
.info-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  /* 175% */
}
.info-subinfo {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.info-link {
  color: var(--link-color);
  font-family: Sen;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;  
}
.plan-title {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}
.plan-subtitle {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
}
.plan-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.started-title {
  color: var(--aczent-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.started-subtitle {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;  
  letter-spacing: -2px;
}
.started-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.authors-title {
  color:var(--aczent-color);
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}
.authors-text {
  color: var(--text-color);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.logo-text {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.article-title {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}
.article-subtext {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.join-title {
  color: var(--aczent-color);
  text-align: center;
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}
.join-text {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.footer-section {
  background-color:var(--aczent-color);
}
.footer-link {
  color:  var(--adishinal-text, #fff);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.footer-title {
  color: var(--adishinal-text, #fff);
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}
.footer-address {
  color:  var(--adishinal-text, #fff);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

/* blog-html */
.header-subbutton {
  background:  var(--adishinal-text, #fff);
}
.hero-subtitle {
  color: var(--aczent-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.hero-title {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}
.hero-subtext {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.hero-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.hero-button {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.pasts-title {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
}
.pasts-subtitle {
  color: var(--link-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.pasts-title {
  color: var(--aczent-color);
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}
.pasts-text {
  color:var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.pasts-button {
  color:  var(--aczent-color);
  text-align: center;
  font-family: Sen;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
}
